* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}

main {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.game-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
  border: 1px solid black;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 51vmin;
  height: 51vmin;
}

.square {
  border: 1px solid red;
  box-shadow: 0 0 0 1px red;
}
