* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  /* background-color: rgb(12, 39, 38); */
  background-image: url(https://images.unsplash.com/photo-1599464401978-a005d1d421f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1955&q=80);
  background-size: cover;
  overflow-y: hidden;
}

.title {
  text-align: center;
  font-size: 4rem;
  margin: 0;
  padding: 3rem 0 2rem 0;
  text-shadow: 0 -1px 5px rgba(0, 0, 0, 0.5), 0 5px 0 rgba(0, 0, 0, 0.5);
  color: #ffcc20;
}

main {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}

.game-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 80%;
  height: 70%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 255, 0.3) 1px,
    transparent 1px
  );
  background-size: 2vmin;
  background-color: white;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 51vmin;
  height: 51vmin;
}

.game-board:hover {
  cursor: pointer;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: #ffcc20;
  border: 5px solid black;
  line-height: 0;
}

.square:nth-child(3n + 1),
.square:nth-child(3n) {
  border-left: none;
  border-right: none;
}

.square:nth-child(-n + 3),
.square:nth-child(n + 6) {
  border-top: none;
  border-bottom: none;
}

.square:nth-child(6) {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.display {
  position: fixed;
  transform: scale(0);
  left: 0;
  top: 25%;
  width: 0;
  font-size: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  transition: width 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.display.active {
  transform: scale(1);
  background-color: rgba(94, 82, 82, 0.5);
  width: 100%;
  font-size: 6rem;
  font-style: italic;
}

.restart {
  margin: 1rem 0;
  font-size: 5vmin;
  background-color: rgb(231, 86, 86);
  border-radius: 0 30% 0 30%;
  box-shadow: 10px 0px 0 rgb(231, 86, 86);
  border-style: none;
  cursor: pointer;
}

.restart:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: none;
  border-top: none;
}

@media (max-width: 775px) {
  .game-area {
    height: 65%;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 255, 0.3) 1px,
      transparent 1px
    );
    background-size: 2vmin 2vmin;
  }
  .game-board {
    width: 60vmin;
    height: 60vmin;
  }
  .title {
    font-size: 3rem;
  }
}

@media (max-width: 350px) {
  .game-area {
    height: 50%;
    width: 100%;
  }
  .game-board {
    width: 90vmin;
    height: 90vmin;
  }
  .title {
    font-size: 2rem;
  }
}
